python-dotenv
jsonformatter
python-json-logger
requests
pytz
redis
flask-cors
Flask
pyyaml
apispec
marshmallow
greenlet
gevent
serverless_wsgi
boto3
pymysql
elasticsearch>=7.0.0, <8.0
newrelic
urllib3
python-keycloak==5.5.0
numpy==1.24.4
pandas==2.0.3
openpyxl==3.1.2
reportlab
